h1 { color: hotpink; font-size: 3em; }
h2 { color:hotpink}
h3 { color:royalblue}
body {background-color: azure}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  h1{
    font-size: 30px;
    color:black;
  }
  h2{font-size: 20px;
    color:black}
    h3{font-size: 16px;
    color:mediumvioletred}
    
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  div{
    display: none;
  }
}